.navbar{
    background-color: green;
    height: 45px;
}
body{
    background-color: bisque;
}
#bg-image{
   width: 100%;
   height: 400px;
   outline: 1px solid green;
}
#lucky{
    font-size: medium;
    padding-top: 6px;
}
.nav-item{
    padding-top: 10px;
}
#active-page{
    font-weight: bold; 
}
#blog-image{
   padding-left: 250px;
   padding-top: 100px;
   height: 300px;
   width: 300px;
   max-width: 100%;
   vertical-align: auto;
}
.box {
    display: flex;
    align-items:center;
 }
.post{
    padding-left: 350px;
}
