.navbar{
    background-color: green;
    height: 45px;
}
body{
    background-color: bisque;
}
#bg-image{
   width: 100%;
   height: 400px;
   outline: 1px solid green;
}
#lucky{
    font-size: medium;
    padding-top: 6px;
}
.nav-item{
    padding-top: 10px;
}
#active-page{
    font-weight: bold; 
}
#blog-img{
   height: 300px;
   width: 300px;
   max-width: 100%;
   vertical-align: auto;
  
   
   
}
.box {
    display: flex;
    align-items:center;
 }

.footer{
    background-color: green;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.card{
    background-color: bisque;
}
